/* Reset CSS untuk menghilangkan margin dan padding bawaan browser */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Gaya header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Gaya menu navigasi */
nav {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Gaya konten portofolio */
main {
    padding: 20px;
}

/* Gaya footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
